<div class="row">
    {{#each notas}}
    <div class="col-lg-2 col-md-4">
        <div class="card  my-3">
            <div class="card-body">
                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-9">
                        <span class="card-title text-dark d-flex justify-content-left">{{title}}</span> 
                        </div>
                        <div class="col-md-3 text-right">
                            <a href="/edit/:{{_id}}" type="hidden" title="Edit"><i class="fas fa-pencil-alt"></i></a> 
                        </div>
                    </div>
                </div>
                
                <div class="container bordernotas">
                    <p class="text-success  notas">{{description}}</p> 
                </div>
                
                <span>Date:</span><p class="text-primary ">{{date}}</p>
                <form action="/delete/:{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block " type="submit" title="Delete">
                       <i class="fas fa-trash-alt"></i>
                    </button>      
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h4> Usuario no tiene notas </h4>
            <a href="/add" class="btn btn-success btn-block">Crear Nota</a> 
            </h4> 
        </div>
    </div>    
  {{/each}} 
</div>